<div class="mb-2">
  <div class="d-flex flex-wrap px-2 py-2">
    <a pageScroll class="my-2 anchor" href="#procdure_info">商标信息<span class="ml-1">83</span></a>
    <a pageScroll class="my-2 anchor" href="#patent_info">专利信息<span class="ml-1">98</span></a>
    <a pageScroll class="my-2 anchor" href="#certificate_info">证书信息<span class="ml-1">64</span></a>
    <a pageScroll class="my-2 anchor" href="#copyright_info">作品著作权<span class="ml-1">52</span></a>
    <a pageScroll class="my-2 anchor" href="#software_info">软件著作权<span class="ml-1">14</span></a>
    <a pageScroll class="my-2 anchor" href="#intent_info">网站信息<span class="ml-1">56</span></a>
  </div>
  <mat-divider></mat-divider>

  <!--商标信息-->
  <p id="procdure_info" class="mt-4 title">商标信息<span class="tbadge">83</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">商标</td>
      <td class="text-center" width="10%">商标名</td>
      <td class="text-center" width="15%">状态</td>
      <td class="text-center" width="12%">申请时间</td>
      <td class="text-center" width="10%">注册号</td>
      <td class="text-center" width="15%">国际分类</td>
      <td class="text-center" width="12%">内容</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/9bec0cbda2e28d5210b6275ccc63b7e3.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>米粒</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-17</td>
      <td class="text-center vertical-middle">32306878</td>
      <td class="text-center vertical-middle"> 36 - 金融物管</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/9bec0cbda2e28d5210b6275ccc63b7e3.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>米粒</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-17</td>
      <td class="text-center vertical-middle">32289973</td>
      <td class="text-center vertical-middle"> 42 - 设计研究</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/1a984e87cb413f0d1a5cad919b1bf0bf.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>米NOTE</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-16</td>
      <td class="text-center vertical-middle"> 32264598</td>
      <td class="text-center vertical-middle"> 9 - 科学仪器</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/be6d71228c49d93ac23aa7f851ee7125.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>米TAB</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-16</td>
      <td class="text-center vertical-middle"> 32262501</td>
      <td class="text-center vertical-middle"> 9 - 科学仪器</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/aca9a78ef857f7c389e1b2aaed4441ee.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>REDMI</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-16</td>
      <td class="text-center vertical-middle"> 32272155</td>
      <td class="text-center vertical-middle">7 - 机械设备</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/81ac955e33a374bcb9bdb29f21268750.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>MITAB</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-16</td>
      <td class="text-center vertical-middle"> 32277290</td>
      <td class="text-center vertical-middle">9 - 科学仪器</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/cf981a275ce39e6093bdb95b198a1d6a.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>MIUI</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-31</td>
      <td class="text-center vertical-middle"> 32588943</td>
      <td class="text-center vertical-middle">3 - 日化用品</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/cf981a275ce39e6093bdb95b198a1d6a.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>MIUI</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-31</td>
      <td class="text-center vertical-middle"> 32589107</td>
      <td class="text-center vertical-middle">1 - 化学原料</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/cf981a275ce39e6093bdb95b198a1d6a.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>MIUI</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-31</td>
      <td class="text-center vertical-middle"> 32609181</td>
      <td class="text-center vertical-middle">4 - 燃料油脂</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="text-center vertical-middle"><img
        src="http://tm-image.qichacha.com/cf981a275ce39e6093bdb95b198a1d6a.jpg?x-oss-process=style/small"
        style="width: 66px;max-height: 66px;"></td>
      <td class="text-center vertical-middle"><a>MIUI</a></td>
      <td class="text-center vertical-middle">商标注册申请-申请收文-结束</td>
      <td class="text-center vertical-middle">2018-07-31</td>
      <td class="text-center vertical-middle"> 32588926</td>
      <td class="text-center vertical-middle">2 - 颜料油漆</td>
      <td class="text-center vertical-middle"><a class="cliable">查看详情</a></td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="83" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--专利信息-->
  <p id="patent_info" class="title">专利信息<span class="tbadge">98</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center" width="15%">专利类型</td>
      <td class="text-center" width="20%">公开（公告）号</td>
      <td class="text-center" width="20%">公开（公告）日期</td>
      <td class="text-center">名称</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN105433812B</td>
      <td class="text-center vertical-middle">2018-08-10</td>
      <td class="text-center vertical-middle"><a class="cliable">具有米水比例检测功能的烹饪器具及其烹饪方法</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN105100197B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">安装应用的方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN105513101B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">图片处理方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104951337B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">文件增量更新方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104408060B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">信息处理的方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104978868B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">到站提醒方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN105487749B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">应用图标的整理方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104302048B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">灯具控制方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104038704B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">逆光人像场景的拍摄处理方法及装置</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="text-center vertical-middle">发明授权</td>
      <td class="text-center vertical-middle">CN104972914B</td>
      <td class="text-center vertical-middle">2018-08-07</td>
      <td class="text-center vertical-middle"><a class="cliable">燃料补给提示方法及装置</a></td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="97" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--证书信息-->
  <p id="certificate_info" class="title">证书信息<span class="tbadge">46</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">证书名称</td>
      <td class="text-center" width="20%">证书编号</td>
      <td class="text-center" width="15%">发证日期</td>
      <td class="text-center" width="15%">截止日期</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle"><a class="cliable">
        -
      </a></td>
      <td class="text-center vertical-middle">01717Q10347R2M</td>
      <td class="text-center vertical-middle">2017-04-01</td>
      <td class="text-center vertical-middle">2020-03-31</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle"><a class="cliable">
        -
      </a></td>
      <td class="text-center vertical-middle">01717Q10347R2M</td>
      <td class="text-center vertical-middle">2017-04-01</td>
      <td class="text-center vertical-middle">2018-12-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机TD-LTEDigitalMobilePhone
      </a></td>
      <td class="text-center vertical-middle">2015011606803999</td>
      <td class="text-center vertical-middle">2015-09-11</td>
      <td class="text-center vertical-middle">2018-12-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机TD-LTEDigitalMobilePhone
      </a></td>
      <td class="text-center vertical-middle">2015011606751239</td>
      <td class="text-center vertical-middle">2015-07-17</td>
      <td class="text-center vertical-middle">2019-09-29</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机TD-LTEDigitalMobilePhone
      </a></td>
      <td class="text-center vertical-middle">2015011606763011</td>
      <td class="text-center vertical-middle">2015-07-17</td>
      <td class="text-center vertical-middle">2018-09-29</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机TD-LTEDigitalMobilePhone
      </a></td>
      <td class="text-center vertical-middle">2014011606733157</td>
      <td class="text-center vertical-middle">2015-07-17</td>
      <td class="text-center vertical-middle">2018-09-29</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机TD-LTEDigitalMobilePhone
      </a></td>
      <td class="text-center vertical-middle">2015011606751356</td>
      <td class="text-center vertical-middle">2015-07-17</td>
      <td class="text-center vertical-middle">2018-09-29</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机
      </a></td>
      <td class="text-center vertical-middle">02-B041-152690</td>
      <td class="text-center vertical-middle">2015-07-07</td>
      <td class="text-center vertical-middle">2018-07-07</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机
      </a></td>
      <td class="text-center vertical-middle">02-B041-152691</td>
      <td class="text-center vertical-middle">2015-07-07</td>
      <td class="text-center vertical-middle">2018-07-07</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="text-center vertical-middle"><a class="cliable">
        TD-LTE数字移动电话机
      </a></td>
      <td class="text-center vertical-middle">02-B041-152548</td>
      <td class="text-center vertical-middle">2015-06-30</td>
      <td class="text-center vertical-middle">2018-06-30</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="46" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--作品著作权-->
  <p id="copyright_info" class="title">作品著作权<span class="tbadge">52</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">作品名称</td>
      <td class="text-center" width="15%">首次发表日期</td>
      <td class="text-center" width="15%">创作完成日期</td>
      <td class="text-center" width="15%">登记号</td>
      <td class="text-center" width="15%">登记日期</td>
      <td class="text-center" width="12%">登记类别</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle">米兔趣味童年</td>
      <td class="text-center vertical-middle">2018-07-09</td>
      <td class="text-center vertical-middle">2018-07-09</td>
      <td class="text-center vertical-middle">国作登字-2018-F-00576287</td>
      <td class="text-center vertical-middle">2018-07-09</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle">爱的梦想（客服之歌）</td>
      <td class="text-center vertical-middle">2018-05-18</td>
      <td class="text-center vertical-middle">2018-05-18</td>
      <td class="text-center vertical-middle">国作登字-2018-A-00548611</td>
      <td class="text-center vertical-middle">2018-05-18</td>
      <td class="text-center vertical-middle">文字</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle">米家定制logo</td>
      <td class="text-center vertical-middle">2017-06-20</td>
      <td class="text-center vertical-middle">2017-06-20</td>
      <td class="text-center vertical-middle">国作登字-2017-F-00477188</td>
      <td class="text-center vertical-middle">2017-06-20</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle">Mi图形</td>
      <td class="text-center vertical-middle">2017-03-01</td>
      <td class="text-center vertical-middle">2017-03-01</td>
      <td class="text-center vertical-middle">国作登字-2017-F-00360143</td>
      <td class="text-center vertical-middle">2017-03-01</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle">MIJIA及图形</td>
      <td class="text-center vertical-middle">2015-05-14</td>
      <td class="text-center vertical-middle">2015-05-13</td>
      <td class="text-center vertical-middle">国作登字-2016-F-00269796</td>
      <td class="text-center vertical-middle">2016-05-17</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle">短信铃音</td>
      <td class="text-center vertical-middle">2014-07-25</td>
      <td class="text-center vertical-middle">2014-07-25</td>
      <td class="text-center vertical-middle">国作登字-2014-S-00134992</td>
      <td class="text-center vertical-middle">2014-07-25</td>
      <td class="text-center vertical-middle">-</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle">手机铃音</td>
      <td class="text-center vertical-middle">2010-08-24</td>
      <td class="text-center vertical-middle">2010-08-23</td>
      <td class="text-center vertical-middle">国作登字-2014-B-00128894</td>
      <td class="text-center vertical-middle">2014-07-15</td>
      <td class="text-center vertical-middle">音乐</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="text-center vertical-middle">小米桌面天气图标</td>
      <td class="text-center vertical-middle">2013-09-18</td>
      <td class="text-center vertical-middle">2013-08-31</td>
      <td class="text-center vertical-middle">国作登字-2013-F-00117358</td>
      <td class="text-center vertical-middle">2013-12-13</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="text-center vertical-middle">MI图形</td>
      <td class="text-center vertical-middle">2010-08-13</td>
      <td class="text-center vertical-middle">2010-05-30</td>
      <td class="text-center vertical-middle">国作登字-2013-F-00094023</td>
      <td class="text-center vertical-middle">2013-06-03</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="text-center vertical-middle">MIUI-V5图形设计</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2013-03-01</td>
      <td class="text-center vertical-middle">国作登字-2013-F-00091328</td>
      <td class="text-center vertical-middle">2013-05-14</td>
      <td class="text-center vertical-middle">美术</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="52" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--软件著作权-->
  <p id="software_info" class="title">软件著作权<span class="tbadge">14</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">软件名称</td>
      <td class="text-center" width="12%">版本号</td>
      <td class="text-center" width="15%">发布日期</td>
      <td class="text-center" width="15%">软件简称</td>
      <td class="text-center" width="15%">登记号</td>
      <td class="text-center" width="15%">登记批准日期</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle">小米移动网上营业厅软件（Android版）</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2016-06-20</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2016SR330529</td>
      <td class="text-center vertical-middle"> 2016-11-15</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle">小米移动网上营业厅软件（iOS版）</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2016-06-20</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle"> 2016SR322156</td>
      <td class="text-center vertical-middle"> 2016-11-08</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle">小米商城软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2016-06-20</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle"> 2016SR322156</td>
      <td class="text-center vertical-middle"> 2016-11-08</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle">小米小说软件（for Android版）</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2016-06-31</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle"> 2013SR159136</td>
      <td class="text-center vertical-middle">2013-12-27</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle">小米手机助手软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2013-01-19</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2013SR116591</td>
      <td class="text-center vertical-middle">2013-10-31</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle">米聊Windows 8版本通讯软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2013-04-15</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2013SR076133</td>
      <td class="text-center vertical-middle">2013-07-29</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle">MIUI移动操作系统软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2013-03-01</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2013SR036886</td>
      <td class="text-center vertical-middle">2013-04-24</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="text-center vertical-middle">小米桌面软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2012-05-29</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2013SR033509</td>
      <td class="text-center vertical-middle">2013-04-12</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="text-center vertical-middle">小米仓储软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2011-10-20</td>
      <td class="text-center vertical-middle">小米仓储</td>
      <td class="text-center vertical-middle">2012SR034666</td>
      <td class="text-center vertical-middle">2012-05-03</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="text-center vertical-middle">小米运营数据系统软件</td>
      <td class="text-center vertical-middle">V1.0</td>
      <td class="text-center vertical-middle">2012-03-30</td>
      <td class="text-center vertical-middle">小米运营数据平台</td>
      <td class="text-center vertical-middle">2012SR034956</td>
      <td class="text-center vertical-middle">2012-05-03</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="14" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--网站信息-->
  <p id="intent_info" class="title">网站信息<span class="tbadge">56</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">网址</td>
      <td class="text-center" width="12%">网站名称</td>
      <td class="text-center" width="15%">域名</td>
      <td class="text-center" width="20%">网站备案/许可证号</td>
      <td class="text-center" width="15%">审核时间</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td>
        <a>58.220.59.2</a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技</td>
      <td class="text-center vertical-middle">58.220.59.2</td>
      <td class="text-center vertical-middle">京ICP备10046444号-16</td>
      <td class="text-center vertical-middle">2017-12-18</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td>
        <a>	58.220.58.153</a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技</td>
      <td class="text-center vertical-middle">	58.220.58.153</td>
      <td class="text-center vertical-middle">京ICP备10046444号-15</td>
      <td class="text-center vertical-middle">2017-12-18</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td>
        <a>	58.220.58.152</a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技</td>
      <td class="text-center vertical-middle">	58.220.58.152</td>
      <td class="text-center vertical-middle">京ICP备10046444号-17</td>
      <td class="text-center vertical-middle">2017-12-18</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td>
        <a>www.miui.com </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">xiaomisa.net</td>
      <td class="text-center vertical-middle">京ICP备10046444号-2</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td>
        <a>www.miui.com </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">mgslb.cn</td>
      <td class="text-center vertical-middle">京ICP备10046444号-2</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td>
        <a>www.xiaomi.cn </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米网</td>
      <td class="text-center vertical-middle">xiaomiinc.com.cn</td>
      <td class="text-center vertical-middle">京ICP备10046444号-1</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td>
        <a>www.miui.com </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">xiaomisa.cn</td>
      <td class="text-center vertical-middle">京ICP备10046444号-2</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td>
        <a>www.xiaomi.cn</a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米网</td>
      <td class="text-center vertical-middle">milliant.com</td>
      <td class="text-center vertical-middle">京ICP备10046444号-1</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td>
        <a>www.miui.cn </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">MIUI米柚</td>
      <td class="text-center vertical-middle">miui.cn </td>
      <td class="text-center vertical-middle">京ICP备10046444号-4</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td>
        <a>www.miui.cn </a>
        <a class="associate" href="#">流量分析></a>
      </td>
      <td class="text-center vertical-middle">小米盒子</td>
      <td class="text-center vertical-middle">duokanbox.com </td>
      <td class="text-center vertical-middle">京ICP备10046444号-6</td>
      <td class="text-center vertical-middle">2017-02-10</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="56" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>
</div>
