/*
.pform .form-group {
  margin-bottom: 20px;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.pform .col-pre {
  float: left;
  width: 130px;
  margin-left: 20px;
  font-size: 16px;
  color: #222;
  line-height: 34px;
}
label {
  font-weight: normal;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.pform .col-after {
  float: left;
  width: 442px;
  padding-right: 15px;
}
*/

.pform .col-pre {
  width: 130px;
  margin-left: 20px;
  font-size: 16px;
  color: #222;
  line-height: 34px;
}
.pform .col-after {
  width: 442px;
  padding-right: 15px;
}

.pform{
  button{
    margin-left: 532px;
  }
}
