<mat-card style="box-shadow: none;padding: 0" class="card rounded-0">
  <h4 class="m-3 ml-2">修改密码</h4>
  <div style="border-bottom: 1px solid #dee2e6"></div>
  <div class="ml-2 mt-4">
    <div class="d-flex pform mb-2">
      <label class="col-pre">原密码</label>
      <div class="col-after mr-auto"><input type="password" class="form-control" autocomplete="off"  [(ngModel)]="oldPas"></div>
    </div>
    <div class="d-flex pform mb-2">
      <label class="col-pre">新密码</label>
      <div class="col-after mr-auto"><input type="password" class="form-control" autocomplete="off"  [(ngModel)]="newPas"></div>
    </div>
    <div class="d-flex pform mb-2">
      <label class="col-pre">确认密码</label>
      <div class="col-after mr-auto"><input type="password" class="form-control" autocomplete="off"  [(ngModel)]="conPas"></div>
    </div>
    <div class="my-3 pform">
      <button class="btn btn-outline-primary btn-sm" (click)="submit()">确认
      </button>
    </div>
  </div>
</mat-card>
