<div class="mb-2">
  <div class="d-flex flex-wrap px-2 py-2">
    <a pageScroll class="my-2 anchor">经营异常<span class="ml-1">0</span><</a>
    <a pageScroll class="my-2 anchor" href="#gq_cz">股权出质<span class="ml-1">12</span></a>
    <a pageScroll class="my-2 anchor">对外投资<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor" href="#administrative_penalty">行政处罚<span class="ml-1">21</span></a>
    <a pageScroll class="my-2 anchor">抽查检查<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">税收违法<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">环保处罚<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">清算信息<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">司法拍卖<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">土地抵押<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">简易注销<span class="ml-1">0</span></a>
    <a pageScroll class="my-2 anchor">公示催告<span class="ml-1">0</span></a>
  </div>
  <mat-divider></mat-divider>
  <!--股权出质-->
  <p id="gq_cz" class="title">股权出质<span class="tbadge">12</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">登记编号</td>
      <td class="text-center" width="10%">出质人</td>
      <td class="text-center" width="20%">质权人</td>
      <td class="text-center" width="15%">出质股权数额</td>
      <td class="text-center" width="15%">设立登记日期</td>
      <td class="text-center" width="8%">状态</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">1</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">雷军</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">143934.0478</td>
      <td class="text-center">2018-06-20</td>
      <td class="text-center">有效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">2</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">黎万强</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">18724.3569</td>
      <td class="text-center">2018-06-20</td>
      <td class="text-center">有效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">3</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">刘德</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">3718.4963</td>
      <td class="text-center">2018-06-20</td>
      <td class="text-center">有效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">4</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">洪锋</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">18623.099</td>
      <td class="text-center">2018-06-20</td>
      <td class="text-center">有效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">5</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">刘德</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">3718.4963</td>
      <td class="text-center">2018-06-11</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">6</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">雷军</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">143934.0478</td>
      <td class="text-center">2018-06-11</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">7</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">黎万强</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">18724.3569</td>
      <td class="text-center">2018-06-11</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">8</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">洪锋</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">18724.3569</td>
      <td class="text-center">2018-06-11</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">9</td>
      <td><a class="cliable">91110108551385082Q_0</a></td>
      <td class="text-center"><a class="cliable">洪锋</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">503.327</td>
      <td class="text-center">2018-04-20</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">10</td>
      <td><a class="cliable"> 110108012660422_0008</a></td>
      <td class="text-center"><a class="cliable">雷军</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">3890.1094</td>
      <td class="text-center">2018-04-20</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">11</td>
      <td><a class="cliable"> 110108012660422_0011</a></td>
      <td class="text-center"><a class="cliable">黎万强</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">506.0637</td>
      <td class="text-center">2018-04-20</td>
      <td class="text-center">无效</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center">12</td>
      <td><a class="cliable">110108012660422_0010</a></td>
      <td class="text-center"><a class="cliable">刘德</a></td>
      <td class="text-center"><a class="cliable">小米通讯技术有限公司</a></td>
      <td class="text-center">100.4999</td>
      <td class="text-center">2018-04-20</td>
      <td class="text-center">无效</td>
    </tr>
    </tbody>
  </table>

  <!--行政处罚 [工商局]-->
  <p id="administrative_penalty" class="title">行政处罚 [工商局]<span class="tbadge">14</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">决定文书号</td>
      <td class="text-center" width="16%">违法行为类型</td>
      <td class="text-center" width="16%">行政处罚内容</td>
      <td class="text-center" width="11%">公示日期</td>
      <td class="text-center" width="16%">决定机关</td>
      <td class="text-center" width="11%">决定日期</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="vertical-middle"><a class="cliable">京工商海处字〔2017〕第1046号</a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">罚款200000元。</td>
      <td class="text-center vertical-middle">2017-08-15</td>
      <td class="text-center vertical-middle">北京市工商行政管理局海淀分局</td>
      <td class="text-center vertical-middle">2017-08-08</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="vertical-middle"><a class="cliable">京工商海处字〔2016〕第45号</a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">罚款30000元。</td>
      <td class="text-center vertical-middle">2016-01-26</td>
      <td class="text-center vertical-middle">北京市工商行政管理局海淀分局</td>
      <td class="text-center vertical-middle">2016-01-25</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="vertical-middle"><a class="cliable">京工商海处字（2014）第 2126 号</a></td>
      <td class="text-center vertical-middle">010101</td>
      <td class="text-center vertical-middle">未公示</td>
      <td class="text-center vertical-middle">2014-12-01</td>
      <td class="text-center vertical-middle">北京市工商行政管理局海淀分局</td>
      <td class="text-center vertical-middle">2014-11-25</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="vertical-middle">京文执罚（2014）第40361号</td>
      <td class="text-center vertical-middle">0</td>
      <td class="text-center vertical-middle">3000.00</td>
      <td class="text-center vertical-middle">2014-10-23</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">2014-10-23</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="vertical-middle">
        京文执罚（2014）第40348号
      </td>
      <td class="text-center vertical-middle">以随机抽取等偶然方式诱导网络游戏用户采取投入法定货币或者网络游戏虚拟货币方式获取网络游戏产品和服务</td>
      <td class="text-center vertical-middle">没收违法所得(元):0;罚款(元):10000;没收出版物(册):0;没收光盘(张):0;停业整顿(家次):0;吊销许可证(家次):0;</td>
      <td class="text-center vertical-middle">2014-10-23</td>
      <td class="text-center vertical-middle">
        北京文化市场行政执法总队
      </td>
      <td width="103">
        2014-10-23
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="vertical-middle">
        京工商海处字（2014）第 1670 号
      </td>
      <td class="text-center vertical-middle">广告贬低其他生产经营者的商品或者服务</td>
      <td class="text-center vertical-middle">罚款:5000元,罚没合计:5000元</td>
      <td class="text-center vertical-middle">2014-09-09</td>
      <td class="text-center vertical-middle">
        海淀分局
      </td>
      <td class="text-center vertical-middle">
        2014-09-09
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="vertical-middle"><a class="cliable">
        京工商朝处字〔2018〕第1322号
      </a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">责令当事人停止销售被依法判定为不合格商品的行为，并决定处罚如下：1、罚款278862元；2、没收违法所得7914元。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局朝阳分局
      </td>
      <td class="text-center vertical-middle">
        2018-06-21
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">8</td>
      <td class="vertical-middle"><a class="cliable">
        京工商海处字〔2017〕第1585号
      </a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">责令停止发布违法广告、公开更正。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局海淀分局
      </td>
      <td class="text-center vertical-middle">
        2017-11-07
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">9</td>
      <td class="vertical-middle"><a class="cliable">京工商海处字〔2017〕第1491号></a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">1、予以警告； 2、罚款1000元。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局海淀分局
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">10</td>
      <td class="vertical-middle"><a class="cliable">
        京工商海处字〔2017〕第1492号
      </a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">罚款30000元。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局海淀分局
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">11</td>
      <td class="vertical-middle"><a class="cliable">
        京工商海处字〔2017〕第1488号
      </a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">罚款10000元。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局海淀分局
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">12</td>
      <td class="vertical-middle"><a class="cliable">
        京工商海处字〔2017〕第1487号
      </a></td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">罚款5000元。</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市工商行政管理局海淀分局
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">13</td>
      <td class="text-center vertical-middle">
        京建法罚 （海建 ） 字 [ 2016] 第 610056号
      </td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        对建设单位处工程合同价款1％以上1.5%以下的罚款；对单位直接负责的主管人员处单位罚款数额5%以上7.5%以下的罚款。对施工单位处3万元以下罚款。
      </td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京市海淀区住房和城乡建设委员会
      </td>
      <td class="text-center vertical-middle">
        -
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">14</td>
      <td class="text-center vertical-middle">
        京文执罚（2014）第40289号
      </td>
      <td class="text-center vertical-middle">提供含有禁止内容的网络游戏产品和服务的</td>
      <td class="text-center vertical-middle">12000</td>
      <td class="text-center vertical-middle">-</td>
      <td class="text-center vertical-middle">
        北京文化市场执法总队
      </td>
      <td class="text-center vertical-middle">
        2015-06-10
      </td>
    </tr>
    </tbody>
  </table>

  <!--行政处罚 [信用中国]-->
  <p  class="title">行政处罚 [信用中国]<span class="tbadge">7</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="8%">序号</td>
      <td class="text-center">决定文书号</td>
      <td class="text-center" width="20%">处罚名称</td>
      <td class="text-center" width="10%">地域</td>
      <td class="text-center" width="13%">决定时间</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商朝处字〔2018〕第1322号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2018-06-21
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字〔2017〕第1487号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字〔2017〕第1492号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字〔2017〕第1491号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2017-10-20
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字〔2016〕第45号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2016-01-25
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">6</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字（2014）第 2126 号</a></td>
      <td>小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2014-11-25
      </td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">7</td>
      <td class="text-center vertical-middle"><a class="cliable">京工商海处字（2014）第 1670 号</a></td>
      <td class="text-center vertical-middle">小米科技有限责任公司</td>
      <td class="text-center vertical-middle">全国
      </td>
      <td class="text-center vertical-middle">
        2014-09-09
      </td>
    </tr>
    </tbody>
  </table>
</div>
