<mat-card style="box-shadow: none;padding: 0" class="card rounded-0">
  <h4 class="m-3">我的笔记</h4>
  <table *ngIf="(d&&d.length)" class="table table-hover b-light" style="margin-bottom: 0">
    <thead>
    <tr>
      <th width="15%">内容</th>
      <th width="12%">企业名称</th>
      <th width="12%">记录时间</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let idx of d" class="attention_content">
      <td>{{idx.content}}</td>
      <td><a href="#">{{idx.name}}</a></td>
      <td>{{idx.date}}</td>
      <td class="attention_edit">
        <button class="butn" (click)="openModal(idx.id)">
          <span>编辑</span>
        </button>
        <!--<ng-template #edit let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">编辑笔记</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea class="form-control noteEditContent noteDetail" rows="5"
                      placeholder="亲爱的用户：请在这里填写您对该企业的笔记"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">提交</button>
          </div>
        </ng-template>-->
        <button class="butn" (click)="deleteNote(idx.id)">
          <span>删除</span>
        </button>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!(d&&d.length)" class="text-center" style="margin-top: 100px;margin-bottom: 100px">
    <img src="http://icon.qiantucdn.com/img/searchnew/nores.png" width="100" alt="">
    <div class="mt-2">空空如也，啥也没有～</div>
  </div>
</mat-card>
