<div class="mb-2">
  <div class="d-flex flex-wrap px-2 py-2">
    <a pageScroll class="my-2 anchor">历史工商信息</a>
    <a pageScroll class="my-2 anchor" href="#foreign-investment">历史对外投资<span class="ml-1">8</span></a>
    <a pageScroll class="my-2 anchor">历史股东</a>
    <a pageScroll class="my-2 anchor">历史行政处罚</a>
    <a pageScroll class="my-2 anchor">历史动产抵押</a>
    <a pageScroll class="my-2 anchor">历史失信被执行人</a>
    <a pageScroll class="my-2 anchor" href="#history-executor">历史执行人<span class="ml-1">67</span></a>
    <a pageScroll class="my-2 anchor" href="#history-court-announcement">历史法院公告<span class="ml-1">69</span></a>
    <a pageScroll class="my-2 anchor" href="#history-adjudicative-documents">历史裁判文书<span class="ml-1">36</span></a>
    <a pageScroll class="my-2 anchor" href="#history-bulletin-court">历史开庭公告<span class="ml-1">54</span></a>
    <a pageScroll class="my-2 anchor" href="#history-quality">历史股权出质<span class="ml-1">10</span></a>
    <a pageScroll class="my-2 anchor" href="#history-administrative-licensing">历史行政许可<span class="ml-1">1</span></a>
  </div>
  <mat-divider></mat-divider>
  <!--历史工商信息-->
  <p class="mt-4 title">历史工商信息</p>
  <table class="ntable">
    <tbody>
    <tr>
      <td class="tb" width="18%" rowspan="1">历史名称：</td>
      <td width="103">
        2013-07-30
      </td>
      <td class="">
        北京小米科技有限责任公司
      </td>
    </tr>
    <tr>
      <td class="tb" width="18%" rowspan="4">历史注册资本：</td>
      <td width="103">
        2016-03-24
      </td>
      <td class="">
        5000万人民币元
      </td>
    </tr>
    <tr>
      <td width="103">
        2013-06-04
      </td>
      <td class="">
        2691.5989万人民币元
      </td>
    </tr>
    <tr>
      <td width="103">
        2011-05-24
      </td>
      <td class="">
        2637.4978万人民币元
      </td>
    </tr>
    <tr>
      <td width="103">
        2010-07-28
      </td>
      <td class="">
        100万人民币元
      </td>
    </tr>
    <tr>
      <td class="tb" width="18%" rowspan="2">历史地址：</td>
      <td width="103">
        2013-07-30
      </td>
      <td class="">
        北京市海淀区永捷北路2号二层
      </td>
    </tr>
    <tr>
      <td width="103">
        2011-02-14
      </td>
      <td class="">
        北京市海淀区北四环西路9号807室
      </td>
    </tr>
    <tr>
      <td class="tb" width="18%" rowspan="6">历史经营范围：</td>
      <td width="103">
        2018-04-18
      </td>
      <td class="">
        手机技术开发;手机生产、手机服务(限海淀区永捷北路2号二层经营);从事互联网文化活动;出版物零售;出版物批发;销售第三类医疗器械;销售食品;零售药品;技术开发;货物进出口、技术进出口、代理进出口;销售通讯设备、厨房用品、卫生用品(含个人护理用品)、日用杂货、化妆品、医疗器械I类、II类、避孕器具、玩具、体育用品、文化用品、服装鞋帽、钟表眼镜、针纺织品、家用电器、家具(不从事实体店铺经营)、花、草及观赏植物、不再分装的包装种子、照相器材、工艺品、礼品、计算机、软件及辅助设备、珠宝首饰、食用农产品、宠物食品、电子产品、摩托车、电动车、自行车及零部件、智能卡、五金交电(不从事实体店铺经营)、建筑材料(不从事实体店铺经营);维修仪器仪表;维修办公设备;承办展览展示活动;会议服务;筹备、策划、组织大型庆典;设计、制作、代理、发布广告;摄影扩印服务;文艺演出票务代理、体育赛事票务代理、展览会票务代理、博览会票务代理(企业依法自主选择经营项目,开展经营活动;从事互联网文化活动、出版物批发、出版物零售、销售食品、零售药品、销售第三类医疗器械以及依法须经批准的项目,经相关部门批准后依批准的内容开展经营活动;不得从事本市产业政策禁止和限制类项目的经营活动)
      </td>
    </tr>
    <tr>
      <td width="103">
        2018-03-29
      </td>
      <td class="">
        手机技术开发;手机生产、手机服务;(限海淀区永捷北路2号二层经营)从事互联网文化活动;技术开发;货物进出口、技术进出口、代理进出口;销售通讯设备;维修仪器仪表;维修办公设备;承办展览展示活动;会议服务;筹备、策划、组织大型庆典;设计、制作、代理、发布广告。(企业依法自主选择经营项目,开展经营活动;依法须经批准的项目,经相关部门批准后依批准的内容开展经营活动;不得从事本市产业政策禁止和限制类项目的经营活动。)
      </td>
    </tr>
    <tr>
      <td width="103">
        2016-06-07
      </td>
      <td class="">
        手机技术开发；手机生产、手机服务。（限海淀区永捷北路2号二层经营）技术开发；货物进出口、技术进出口、代理进出口；销售通讯设备；维修仪器仪表；维修办公设备；承办展览展示活动；会议服务；筹备、策划、组织大型庆典。企业依法自主选择经营项目，开展经营活动；依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。
      </td>
    </tr>
    <tr>
      <td width="103">
        2012-08-29
      </td>
      <td class="">
        手机技术开发；手机生产、手机服务。技术开发；货物进出口、技术进出口、代理进出口。
      </td>
    </tr>
    <tr>
      <td width="103">
        2011-02-14
      </td>
      <td class="">
        技术开发。（法律、行政法规、国务院决定禁止的，不得经营；法律、行政法规、国务院决定规定应经许可的，经审批机关批准并经工商行政管理机关登记注册后方可经营；法律、行政法规、国务院决定未规定许可的，自主选择经营项目开展经营活动。）
      </td>
    </tr>
    <tr>
      <td width="103">
        2010-05-12
      </td>
      <td class="">
        法律、行政法规、国务院决定禁止的，不得经营；法律、行政法规、国务院决定规定应经许可的，经审批机关批准并经工商行政管理机关登记注册后方可经营；法律、行政法规、国务院决定未规定许可的，自主选择经营项目开展经营活动。
      </td>
    </tr>
    <tr>
      <td class="tb" width="18%" rowspan="3">历史主要人员：</td>
      <td width="103">
        2014-03-12
      </td>
      <td class=""><a class="text-primary">雷军</a>(董事长), <a class="text-primary">许达来</a>(董事), <a
        class="text-primary">刘芹</a>(董事), <a
        class="text-primary">林斌</a>(董事), <a class="text-primary">邝子平</a>(董事),
        <a h class="text-primary">黎万强</a>(监事)
      </td>
    </tr>
    <tr>
      <td width="103">
        2011-02-14
      </td>
      <td class=""><a class="text-primary">雷军</a>(董事长), <a class="text-primary">林斌</a>(董事), <a
        class="text-primary">刘芹</a>(董事), <a class="text-primary">黎万强</a>(监事)
      </td>
    </tr>
    <tr>
      <td width="103">
        2010-07-28
      </td>
      <td class=""><a class="text-primary">雷军</a>(执行董事), <a class="text-primary">黎万强</a>(监事)
      </td>
    </tr>
    </tbody>
  </table>

  <!--历史对外投资-->
  <p id="foreign-investment" class="mt-4 title">历史对外投资<span class="tbadge">8</span></p>
  <table class="ntable">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td class="tx">被投资企业名称</td>
      <td class="tx">被投资法定代表人</td>
      <td class="tx">注册资本</td>
      <td class="tx">出资比例</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td class="tx"><a class="text-primary">北京小米电子软件技术有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">刘德</a></td>
      <td class="text-center">207100.2万人民币元</td>
      <td class="text-center">100%</td>
    </tr>
    <tr>
      <td class="tx">2</td>
      <td class="tx"><a class="text-primary">四川银米科技有限责任公司</a>
      </td>
      <td class="text-center"><a class="text-primary">雷军</a></td>
      <td class="text-center">200000万人民币元</td>
      <td class="text-center">100%</td>
    </tr>
    <tr>
      <td class="tx">3</td>
      <td class="tx"><a class="text-primary">小米信用管理有限公司</a></td>
      <td class="text-center"><a class="text-primary">洪锋</a></td>
      <td class="text-center">5000.000000万人民币元</td>
      <td class="text-center">100%</td>
    </tr>
    <tr>
      <td class="tx">4</td>
      <td class="tx"><a class="text-primary">成都倍达资产管理有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">洪锋</a></td>
      <td class="text-center">5000.000000万人民币元</td>
      <td class="text-center">100%</td>
    </tr>
    <tr>
      <td class="tx">5</td>
      <td class="tx"><a class="text-primary">北京小米支付技术有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">洪锋</a></td>
      <td class="text-center">10000.000000万人民币元</td>
      <td class="text-center">100%</td>
    </tr>
    <tr>
      <td class="tx">6</td>
      <td class="tx"><a class="text-primary">衡阳加一电子科技有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">谢冠宏</a></td>
      <td class="text-center">1500万人民币元</td>
      <td class="text-center">-</td>
    </tr>
    <tr>
      <td class="tx">7</td>
      <td class="tx"><a class="text-primary">北京智谷睿拓技术服务有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">许学凤</a></td>
      <td class="text-center">2000万人民币元</td>
      <td class="text-center">-</td>
    </tr>
    <tr>
      <td class="tx">8</td>
      <td class="tx"><a class="text-primary">北京木仓科技股份有限公司</a>
      </td>
      <td class="text-center"><a class="text-primary">姜英豪</a></td>
      <td class="text-center">5062.500800万人民币元</td>
      <td class="text-center">-</td>
    </tr>
    </tbody>
  </table>

  <!--历史被执行人 -->
  <p id="history-executor" class="mt-4 title">历史被执行人<span class="tbadge">67</span></p>
  <table class="ntable ntable-odd">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td class="tx">案号</td>
      <td class="tx">立案时间</td>
      <td class="tx">执行法院</td>
      <td class="tx">执行标的</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td class="tx">(2015)海执字第07708号</td>
      <td class="text-center">2015-03-23</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">31050</td>
    </tr>
    <tr>
      <td class="tx">2</td>
      <td class="tx">（2018）粤0306执4964号</td>
      <td class="text-center">2018-03-16</td>
      <td class="tx">深圳市宝安区人民法院</td>
      <td class="text-center">1999</td>
    </tr>
    <tr>
      <td class="tx">3</td>
      <td class="tx">(2015)海执字第17254号</td>
      <td class="text-center">2015-12-09</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">20650</td>
    </tr>
    <tr>
      <td class="tx">4</td>
      <td class="tx">(2015)海执字第17612号</td>
      <td class="text-center">2015-12-21</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">15500</td>
    </tr>
    <tr>
      <td class="tx">5</td>
      <td class="tx">(2016)京0108执9129号</td>
      <td class="text-center">2016-09-01</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">21050</td>
    </tr>
    <tr>
      <td class="tx">6</td>
      <td class="tx">（2018）粤0306执4965号</td>
      <td class="text-center">2018-03-16</td>
      <td class="tx">深圳市宝安区人民法院</td>
      <td class="text-center">25</td>
    </tr>
    <tr>
      <td class="tx">7</td>
      <td class="tx">(2015)海执字第17589号</td>
      <td class="text-center">2015-12-21</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">21300</td>
    </tr>
    <tr>
      <td class="tx">8</td>
      <td class="tx">(2015)海执字第17599号</td>
      <td class="text-center">2015-12-21</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">20550</td>
    </tr>
    <tr>
      <td class="tx">9</td>
      <td class="tx">(2016)京0108执603号</td>
      <td class="text-center">2016-01-13</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">20420</td>
    </tr>
    <tr>
      <td class="tx">10</td>
      <td class="tx">(2016)京0108执9146号</td>
      <td class="text-center">2016-09-01</td>
      <td class="tx">北京市海淀区人民法院</td>
      <td class="text-center">21300</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="67" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--历史法院公告-->
  <p id="history-court-announcement" class="mt-4 title">历史法院公告<span class="tbadge">69</span></p>
  <table class="ntable ntable-odd">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td class="tx">公示时间</td>
      <td class="tx">分类</td>
      <td class="tx">当事人</td>
      <td class="tx">内容</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td width="12%">2016-09-13</td>
      <td class="tx">裁判文书</td>
      <td width="300">小米科技有限责任公司 深圳市汪为电子科技有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
      </td>
    </tr>
    <tr>
      <td class="tx">2</td>
      <td width="12%">2016-09-13</td>
      <td class="text-center">裁判文书</td>
      <td width="300">小米科技有限责任公司 深圳市拓顶科技有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">3</td>
      <td width="12%">2016-09-06</td>
      <td class="text-center">更正</td>
      <td width="300">小米科技有限责任公司 深圳市坪蝶科技有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">4</td>
      <td width="12%">2016-08-11</td>
      <td class="text-center">起诉状副本及开庭传票</td>
      <td width="300">小米科技有限责任公司 惠阳区新圩镇志城手机店</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">5</td>
      <td width="12%">2016-08-11</td>
      <td class="text-center">起诉状副本及开庭传票</td>
      <td width="300">小米科技有限责任公司 惠州市惠阳区新圩宇联手机店</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">6</td>
      <td width="12%">2016-08-11</td>
      <td class="text-center">起诉状副本及开庭传票</td>
      <td width="300">小米科技有限责任公司 深圳市坪蝶科技有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">7</td>
      <td width="12%">2016-07-02</td>
      <td class="text-center">起诉状副本及开庭传票</td>
      <td width="300">小米科技有限责任公司 深圳市宝安区松岗涵祺五金电子加工厂</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">8</td>
      <td width="12%">2016-06-29</td>
      <td class="text-center">起诉状副本及开庭传票</td>
      <td width="300">小米科技有限责任公司 深圳市新金泰模具塑胶制品有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">9</td>
      <td width="12%">2016-06-22</td>
      <td class="text-center">裁判文书</td>
      <td width="300">小米科技有限责任公司 深圳市神兵科技有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    <tr>
      <td class="tx">10</td>
      <td width="12%">2016-06-22</td>
      <td class="text-center">裁判文书</td>
      <td width="300">小米科技有限责任公司 深圳市欧歌电子有限公司</td>
      <td class="text-center" width="12%"><a class="cliable">查看详情</a>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="69" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--历史裁判文书-->
  <p id="history-adjudicative-documents" class="mt-4 title">历史裁判文书<span class="tbadge">36</span></p>
  <table class="ntable ntable-odd ntable-ne">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td class="tx">案件名称</td>
      <td class="tx">发布时间</td>
      <td class="tx">案件编号</td>
      <td class="tx">案件身份</td>
      <td class="tx">执行法院</td>
    </tr>
    <tr>
      <td class="tx" width="8%">1</td>
      <td width="25%"><a class="cliable">乐视新媒体文化（天津）有限公司与未来电视有限公司等侵害作品信息网络传播权纠纷一审民事判决书</a>
      </td>
      <td width="103">2016-11-15</td>
      <td width="15%">（2016）京0108民初10889号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">有限公司</a>
        </div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市东卫律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">未来电视有限公司</a>
        </div>
      </td>
      <td width="">北京市海淀区人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">2</td>
      <td width="25%"><a class="cliable">乐视网（天津）信息技术有限公司与小米科技有限责任公司等侵害作品信息网络传播权纠纷一审民事判决书</a>
      </td>
      <td width="103">2016-11-15</td>
      <td width="15%">（2016）京0108民初10897号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">信息技术有限公司</a>
        </div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市东卫律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">未来电视有限公司</a>
        </div>
      </td>
      <td width="">北京市海淀区人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">3</td>
      <td width="25%"><a class="cliable">小米科技有限责任公司与乐天玛特（重庆）商业有限公司大坪店侵害商标权纠纷一审民事裁定书</a>
      </td>
      <td width="103">2017-07-14</td>
      <td width="15%">（2017）渝05民初836号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">四川思勉律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">商业有限公司大坪店</a></div>
      </td>
      <td width="">重庆市第五中级人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">4</td>
      <td width="25%"><a class="cliable">乐视网（天津）信息技术有限公司与未来电视有限公司等侵害作品信息网络传播权纠纷一审民事判决书</a>
      </td>
      <td width="103">2016-11-15</td>
      <td width="15%">（2016）京0108民初10887号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">信息技术有限公司</a>
        </div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市东卫律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">未来电视有限公司</a>
        </div>
      </td>
      <td width="">北京市海淀区人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">5</td>
      <td width="25%"><a class="cliable">-</a></td>
      <td width="103">2016-11-16</td>
      <td width="15%">（2016）浙06民初515号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">浙江众信达律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">绍兴市越城区光大通讯器材商行</a></div>
      </td>
      <td width="">绍兴市中级人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">6</td>
      <td width="25%"><a class="cliable">小米科技有限责任公司与谭焜泰买卖合同纠纷二审民事裁定书</a>
      </td>
      <td width="103">2016-09-28</td>
      <td width="15%">（2016）京01民辖终620号</td>
      <td width="">
        <div class="m-b-xs">上诉人（原审被告） - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市康达律师事务所</a></div>
        <div class="m-b-xs">被上诉人（原审原告） - <a class="cliable">谭焜泰</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">天津圣科律师事务所</a></div>
      </td>
      <td width="">北京市第一中级人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">7</td>
      <td width="25%"><a class="cliable">深圳凯信通达科技有限公司与国家工商行政管理总局商标评审委员会其他一审行政判决书</a>
      </td>
      <td width="103">2016-09-22</td>
      <td width="15%">（2016）京73行初1512号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">深圳凯信通达科技有限公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市博圣律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">国家工商行政管理总局商标评审委员会</a></div>
        <div class="m-b-xs">第三人 - <a class="cliable">小米科技有限责任公司</a></div>
      </td>
      <td width="">北京知识产权法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">8</td>
      <td width="25%"><a class="cliable">高新技术产业开发区皇码办公耗材经营部与小米科技有限责任公司侵害商标权纠纷二审民事判决书</a>
      </td>
      <td width="103">2016-07-21</td>
      <td width="15%">（2016）渝民终31</td>
      <td width="">
        <div class="m-b-xs">上诉人(一审被告) - <a class="cliable">高新技术产业开发区皇码办公耗材经营部</a></div>
        <div class="m-b-xs">被上诉人(一审原告) - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">重庆百君律师事务所</a></div>
      </td>
      <td width="">重庆市高级人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">9</td>
      <td width="25%"><a class="cliable">-</a></td>
      <td width="103">2016-10-31</td>
      <td width="15%">（2016）浙10民初505号</td>
      <td width="">
        <div class="m-b-xs">原告 - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">浙江众信达律师事务所</a></div>
        <div class="m-b-xs">被告 - <a class="cliable">台州黄岩优畅网络通讯服务部</a></div>
      </td>
      <td width="">台州市中级人民法院</td>
    </tr>
    <tr>
      <td class="tx" width="8">10</td>
      <td width="25%"><a class="cliable">小米科技有限责任公司与桂斌买卖合同纠纷二审民事裁定书</a>
      </td>
      <td width="103">2016-09-29</td>
      <td width="15%">（2016）京01民辖终602号</td>
      <td width="">
        <div class="m-b-xs">上诉人（原审被告） - <a class="cliable">小米科技有限责任公司</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">北京市康达律师事务所</a></div>
        <div class="m-b-xs">被上诉人（原审原告） - <a class="cliable">桂斌</a></div>
        <div class="m-b-xs">代理律师事务所 - <a class="cliable">天津圣科律师事务所</a></div>
      </td>
      <td width="">北京市第一中级人民法院</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="36" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--历史开庭公告-->
 <!-- <p class="mt-4 title">历史法院公告<span class="tbadge">35</span></p>
  <table class="table mw-100">
    <tbody>
    <tr class="color-primary border">
      <td class="text-center" width="60">序号</td>
      <td class="text-center" width="370">当事人</td>
      <td class="text-center" width="90">公告类型</td>
      <td class="text-center" width="160">公告人</td>
      <td class="text-center" width="115">刊登时间</td>
      <td class="text-center" width="115">内容</td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">1</td>
      <td class="text-center vertical-middle">深圳市龙华新区达克港电子商务商行</td>
      <td class="text-center vertical-middle" width="15%">裁判文书</td>
      <td class="text-center vertical-middle">深圳市宝安区人民法院</td>
      <td class="text-center vertical-middle" width="103">2018-06-24</td>
      <td class="text-center vertical-middle" width="90"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">2</td>
      <td class="text-center vertical-middle">北京晟煌科技有限公司</td>
      <td class="text-center vertical-middle" width="15%">起诉状副本及开庭传票</td>
      <td class="text-center vertical-middle">北京市东城区人民法院</td>
      <td class="text-center vertical-middle" width="103">2018-05-29</td>
      <td class="text-center vertical-middle" width="90"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">3</td>
      <td class="text-center vertical-middle">陈丽婵</td>
      <td class="text-center vertical-middle" width="15%">起诉状副本及开庭传票</td>
      <td class="text-center vertical-middle">深圳市宝安区人民法院</td>
      <td class="text-center vertical-middle" width="103">2018-05-17</td>
      <td class="text-center vertical-middle" width="90"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">4</td>
      <td class="text-center vertical-middle">廖海量</td>
      <td class="text-center vertical-middle" width="15%">起诉状副本及开庭传票</td>
      <td class="text-center vertical-middle">[广东]肇庆市端州区人民法院</td>
      <td class="text-center vertical-middle" width="103">2018-05-13</td>
      <td class="text-center vertical-middle" width="90"><a class="cliable">查看详情</a></td>
    </tr>
    <tr class="table-bordered">
      <td class="text-center vertical-middle">5</td>
      <td class="text-center vertical-middle">深圳市盛航光电有限公司</td>
      <td class="text-center vertical-middle" width="15%">起诉状副本及开庭传票</td>
      <td class="text-center vertical-middle">[广东]深圳市宝安区人民法院</td>
      <td class="text-center vertical-middle" width="103">2018-05-08</td>
      <td class="text-center vertical-middle" width="90"><a class="cliable">查看详情</a></td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="70" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>-->

  <!--历史开庭公告-->
  <p class="mt-4 title">历史开庭公告<span class="tbadge">54</span></p>
  <table id="history-bulletin-court" class="ntable">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td class="tx">案号</td>
      <td class="tx">开庭日期</td>
      <td class="tx">案由</td>
      <td class="tx">公诉人/原告/上诉人/申请人</td>
      <td class="tx">被告人/被告/被上诉人/被申请人</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-26 09:00:00</td>
      <td width="120">商标权权属纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">太原市天通科技有限公司</td>
    </tr>
    <tr>
      <td class="tx">2</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-25 08:30:00</td>
      <td width="120">侵害商标权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">河北格选商贸有限公司</td>
    </tr>
    <tr>
      <td class="tx">3</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-24 13:50:00</td>
      <td width="120">侵害商标权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">秦皇岛茂业控股有限公司</td>
    </tr>
    <tr>
      <td class="tx">4</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-24 13:50:00</td>
      <td width="120">侵害商标权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">秦皇岛茂业控股有限公司华联分公司</td>
    </tr>
    <tr>
      <td class="tx">5</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-24 09:00:00</td>
      <td width="120">侵害商标权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">石家庄九星通信器材有限公司跃进路分公司</td>
    </tr>
    <tr>
      <td class="tx">6</td>
      <td width="160"><a class="text-primary">
        -
      </a></td>
      <td width="105">2017-04-24 09:00:00</td>
      <td width="120">侵害商标权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">石家庄九星通信器材有限公司</td>
    </tr>
    <tr>
      <td class="tx">7</td>
      <td width="160"><a class="text-primary">
        (2017)粤03民初81号
      </a></td>
      <td width="105">2017-04-20 09:30:00</td>
      <td width="120">侵害外观设计专利权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">北京京东叁佰陆拾度电子商务有限公司 深圳市华果数码科技有限公司</td>
    </tr>
    <tr>
      <td class="tx">8</td>
      <td width="160"><a class="text-primary">
        (2017)粤03民初78号
      </a></td>
      <td width="105">2017-04-20 09:30:00</td>
      <td width="120">侵害外观设计专利权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">北京京东叁佰陆拾度电子商务有限公司 深圳市顺兴通科技有限公司</td>
    </tr>
    <tr>
      <td class="tx">9</td>
      <td width="160"><a class="text-primary">
        (2017)粤03民初75号
      </a></td>
      <td width="105">2017-04-20 09:30:00</td>
      <td width="120">侵害外观设计专利权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">深圳市麦乐士科技有限公司</td>
    </tr>
    <tr>
      <td class="tx">10</td>
      <td width="160"><a class="text-primary">
        (2016)粤03民初1889号
      </a></td>
      <td width="105">2017-04-19 14:30:00</td>
      <td width="120">侵害外观设计专利权纠纷</td>
      <td width="210">小米科技有限责任公司</td>
      <td width="235">淮安经济技术开发区宝通数码产品商行</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="54" [maxSize]="10"
                  [(page)]="page"></ngb-pagination>

  <!--历史股权出质-->
  <p id="history-quality" class="mt-4 title">历史股权出质<span class="tbadge">10</span></p>
  <table class="ntable ntable-odd">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td>登记编号</td>
      <td width="70px;">出质人</td>
      <td>质权人</td>
      <td>出质股权数额</td>
      <td>股权出质设立登记日期</td>
      <td class="text-center">状态</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td>91110108551385082Q_0015</td>
      <td>刘德</td>
      <td> 小米通讯技术有限公司</td>
      <td>3718.4963</td>
      <td>2016-04-20</td>
      <td style="width:50px;">有效</td>
    </tr>
    <tr>
      <td class="tx">2</td>
      <td>91110108551385082Q_0012</td>
      <td>雷军</td>
      <td> 小米通讯技术有限公司</td>
      <td>143934.0478</td>
      <td>2016-04-20</td>
      <td style="width:50px;">有效</td>
    </tr>
    <tr>
      <td class="tx">3</td>
      <td>91110108551385082Q_0013</td>
      <td>黎万强</td>
      <td> 小米通讯技术有限公司</td>
      <td>18724.3569万元</td>
      <td>2016-04-20</td>
      <td style="width:50px;">设立</td>
    </tr>
    <tr>
      <td class="tx">4</td>
      <td>91110108551385082Q_0014</td>
      <td>洪锋</td>
      <td> 小米通讯技术有限公司</td>
      <td>18623.099</td>
      <td>2016-04-20</td>
      <td style="width:50px;">有效</td>
    </tr>
    <tr>
      <td class="tx">5</td>
      <td>110108012660422_0007</td>
      <td>刘德</td>
      <td> 北京小米通讯技术有限公司</td>
      <td>54.1011万元</td>
      <td>2014-08-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    <tr>
      <td class="tx">6</td>
      <td>110108012660422_0005</td>
      <td>黎万强</td>
      <td> 北京小米通讯技术有限公司</td>
      <td>272.4535万元</td>
      <td>2014-08-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    <tr>
      <td class="tx">7</td>
      <td>110108012660422_0004</td>
      <td>雷军</td>
      <td> 北京小米通讯技术有限公司</td>
      <td>2094.1733万元</td>
      <td>2014-08-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    <tr>
      <td class="tx">8</td>
      <td>110108012660422_0006</td>
      <td>洪锋</td>
      <td> 北京小米通讯技术有限公司</td>
      <td>270.871万元</td>
      <td>2014-08-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    <tr>
      <td class="tx">9</td>
      <td>110108012660422_0003</td>
      <td>黎万强</td>
      <td> 北京紫米科技发展有限公司</td>
      <td>272.4535万元</td>
      <td>2011-10-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    <tr>
      <td class="tx">10</td>
      <td>110108012660422_0002</td>
      <td>洪锋</td>
      <td> 北京紫米科技发展有限公司</td>
      <td>270.871万元</td>
      <td>2011-10-21</td>
      <td style="width:50px;">注销</td>
    </tr>
    </tbody>
  </table>

  <p id="history-administrative-licensing" class="mt-4 title">历史行政许可【工商局】 <span class="tbadge">1</span></p>
  <table class="ntable ntable-odd">
    <tbody>
    <tr class="color-primary border">
      <td class="tx">序号</td>
      <td>许可文件编号</td>
      <td width="23%">许可文件名称</td>
      <td width="13%">有效期自</td>
      <td width="13%">有效期至</td>
      <td>许可机关</td>
      <td width="15%">许可内容</td>
    </tr>
    <tr>
      <td class="tx">1</td>
      <td>京水行许字[2016]第276号</td>
      <td>小米移动互联网产业园项目</td>
      <td>2016-09-12</td>
      <td>2019-09-11</td>
      <td>-</td>
      <td>通过</td>
    </tr>
    </tbody>
  </table>
</div>
