<mat-card style="box-shadow: none;padding: 0" class="card rounded-0">
  <div class="d-flex">
    <div *ngIf="tabs&&tabs.length" class="d-flex">
      <li class="px-3 pt-3 pb-2 tab_content" *ngFor="let tab of tabs;let idx=index" [class.tab_active]="flag_tabs[idx]">
        <a (click)="changeTab(idx,tab)">{{tab}}</a>
      </li>
    </div>
    <div class="ml-auto mt-2 mr-2">
      <button class="btn btn-outline-primary btn-sm" (click)="editModal()"><i class="fa fa-plus-circle mr-1"></i>编辑分组
      </button>
    </div>
  </div>
  <table *ngIf="d&&d.length" class="table table-hover b-light" style="margin-bottom: 0">
    <thead>
    <tr>
      <th width="15%">企业名称</th>
      <th width="15%">关注日期</th>
      <th width="15%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let idx of d" class="attention_content">
      <td><a class="vertical-middle" href="#">{{idx.name}}</a></td>
      <td class="vertical-middle">{{idx.date}}</td>
      <td class="attention_edit">
        <button class="butn" (click)="openModal(idx.id)">
          <span>编辑</span>
        </button>
        <button class="butn" (click)="deleteAttention(idx.id)">
          <span>删除</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!(d&&d.length)" class="text-center" style="padding-top: 100px;margin-bottom: 100px;border-top: 1px solid #e0e3ec">
    <img src="http://icon.qiantucdn.com/img/searchnew/nores.png" width="100" alt="">
    <div class="mt-2">暂无相关记录</div>
  </div>
</mat-card>
